audio
**/target
**/gen-java
.classpath
.project
.settings
**/.projectile
.idea
**/*~
/nbproject/
nbactions.xml
**/*.aux
**/*.blg
**/*.bbl
**/*.log
**/*.toc
**/*.out
**/*.nav
**/*.vrb
**/*.snm
**/auto
**/__pycache__